{% if site.weibo_uid %}
<section class="odd">
  <h1>Contact</h1>
  <iframe width="100%" 
		  height="100" 
		  class="share_self"  
		  frameborder="0" 
		  scrolling="no" 
		  src="http://widget.weibo.com/weiboshow/index.php?language=&width=100%&height=400&fansRow=2&ptype=0&speed=0&skin=2&isTitle=0&noborder=1&isWeibo=0&isFans=0&uid=1885742623&verifier=296b9670&dpc=1">
  </iframe> 
  <img src="{{ root_url }}/images/email_address.png" alt="powered by imagemagick:" class="img-rounded" />
</section>
{% endif %}
